In [43]:
import pandas as pd
import numpy as np
#import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

In [44]:
trip = pd.read_csv('trip.csv')

In [45]:
trip.head()

,id,duration,start_date,start_station_name,start_station_id,end_date,end_station_name,end_station_id,bike_id,subscription_type,zip_code
0,4576,63,8/29/2013 14:13,South Van Ness at Market,66,8/29/2013 14:14,South Van Ness at Market,66,520,Subscriber,94127
1,4607,70,8/29/2013 14:42,San Jose City Hall,10,8/29/2013 14:43,San Jose City Hall,10,661,Subscriber,95138
2,4130,71,8/29/2013 10:16,Mountain View City Hall,27,8/29/2013 10:17,Mountain View City Hall,27,48,Subscriber,97214
3,4251,77,8/29/2013 11:29,San Jose City Hall,10,8/29/2013 11:30,San Jose City Hall,10,26,Subscriber,95060
4,4299,83,8/29/2013 12:02,South Van Ness at Market,66,8/29/2013 12:04,Market at 10th,67,319,Subscriber,94103

In [46]:
trip.dtypes

id                     int64
duration               int64
start_date            object
start_station_name    object
start_station_id       int64
end_date              object
end_station_name      object
end_station_id         int64
bike_id                int64
subscription_type     object
zip_code              object
dtype: object

In [47]:
trip['start_date'].str.split(' ')

0         [8/29/2013, 14:13]
1         [8/29/2013, 14:42]
2         [8/29/2013, 10:16]
3         [8/29/2013, 11:29]
4         [8/29/2013, 12:02]
5         [8/29/2013, 18:54]
6         [8/29/2013, 13:25]
7         [8/29/2013, 14:02]
8         [8/29/2013, 17:01]
9         [8/29/2013, 11:33]
10        [8/29/2013, 13:52]
11        [8/29/2013, 13:23]
12        [8/29/2013, 19:32]
13        [8/29/2013, 13:57]
14        [8/29/2013, 12:31]
15        [8/29/2013, 16:57]
16        [8/29/2013, 11:25]
17        [8/29/2013, 12:11]
18        [8/29/2013, 22:21]
19        [8/29/2013, 22:06]
20        [8/29/2013, 19:42]
21        [8/29/2013, 12:45]
22        [8/29/2013, 11:40]
23        [8/29/2013, 22:12]
24        [8/29/2013, 10:56]
25        [8/29/2013, 13:53]
26        [8/29/2013, 13:43]
27        [8/29/2013, 13:31]
28        [8/29/2013, 21:43]
29        [8/29/2013, 18:45]
                 ...
669929      [9/1/2014, 9:30]
669930      [9/1/2014, 9:29]
669931      [9/1/2014, 9:29]
669932      [9/1/2014, 9:18]
669933      [9/1/2014, 9:16]
669934      [9/1/2014, 8:58]
669935      [9/1/2014, 8:55]
669936      [9/1/2014, 8:55]
669937      [9/1/2014, 8:49]
669938      [9/1/2014, 8:41]
669939      [9/1/2014, 8:31]
669940      [9/1/2014, 8:31]
669941      [9/1/2014, 8:30]
669942      [9/1/2014, 8:26]
669943      [9/1/2014, 8:24]
669944      [9/1/2014, 8:16]
669945      [9/1/2014, 8:12]
669946      [9/1/2014, 8:11]
669947      [9/1/2014, 7:37]
669948      [9/1/2014, 7:37]
669949      [9/1/2014, 7:32]
669950      [9/1/2014, 7:03]
669951      [9/1/2014, 6:58]
669952      [9/1/2014, 5:54]
669953      [9/1/2014, 4:59]
669954      [9/1/2014, 4:21]
669955      [9/1/2014, 3:16]
669956      [9/1/2014, 0:05]
669957      [9/1/2014, 0:05]
669958      [9/1/2014, 0:05]
Name: start_date, dtype: object

In [48]:
#Separo
fechaYHora  = trip['start_date'].str.split(' ')
fecha = fechaYHora.map(lambda x:x[0])
hora = fechaYHora.map(lambda x: x[1])

In [49]:
trip = trip.assign(fecha = fecha,hora = hora)

In [50]:
del trip['start_date']

In [51]:
trip.head(1)

,id,duration,start_station_name,start_station_id,end_date,end_station_name,end_station_id,bike_id,subscription_type,zip_code,fecha,hora
0,4576,63,South Van Ness at Market,66,8/29/2013 14:14,South Van Ness at Market,66,520,Subscriber,94127,8/29/2013,14:13